{% extends 'LoCatr/base.html' %}
{% block content %}
<html>

   <body>
      Hello,<strong> {{username.pump_name}}</strong><br>
      Current status of pump is : {{username.pump_status}}<br>
      <form action="{% url 'update' username.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Update Status" />
      </form>
      <a href="{% url 'logout' %}">logout</a>
      <br><br>
      <a href="{% url 'update_de' username.id%}"> Update details</a>
   </body>

</html>
{% endblock %}